@charset "utf-8";

/*
    Name: Joshua Sparks
    Date: 5/4/2021
    Course: CIS 155 18193
    Instructor: Linda Epps
    Assignment: Project V2
    Notes: CSS stylesheet for the project, hopefully the only one.
*/

/*
    TITLE PROPERTIES
*/

.titleheader {
    background-color: white;
    margin: 1vw;
    max-width: 90%;
    overflow: auto;
}

#titletext {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    margin-left: 8%;
    font-weight: bold;
    letter-spacing: 2vw;
    word-spacing: 1vw;
}


.titleimage {
    float: right;
    margin-left: 5%;
    max-width: 15vw;
    max-height: 15%;
}
/*
    NAV BAR
*/

.navbar {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    padding-bottom: 2vh;
}

nav ul.submenu {
    list-style-type: none;
    text-align: center;
    visibility: visible;
}


nav ul > li {
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
}


nav ul li a, nav ul li a:visited, nav ul li a:active {
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

nav ul li:first-child a{
    font-weight: bold;
    text-decoration: none;
}


nav ul li a:hover {
    background-color: white;
    color: black;
}

nav div {
    visibility: hidden;
    margin: 0px;
    padding: 0px;

}
nav div ul {
    visibility: visible;
}

/*
    GENERAL PROPERTIES
*/

article {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: white;
    margin-left: 1vw;
    margin-right: 23.9vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

article > .heading1 {
    font-size: 1vw;
    font-weight: bold;
}

article > dl > dt > a, article > dl > dt > a:visited, article > dl > dt > a:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
article > dl > dt > a:hover {
    color: #565656;
}

article p {
    margin-right: 20vw;
    font-size: 0.9vw;
}

#imagemap {
    width: 200px;
    height: 200px;
}

.bigsymbol {
    font-size: 2vw;
    font-weight: bolder;
}

#moony {
  position:relative;
  left:80vw;
  z-index: 10;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 1vw;
    padding-left: 1vw;
}

.subheading {
    font-size: 0.85vw;
    font-style: italic;
    color: #565656;
    margin-top: -1vw;
    margin-left: 1vw;
}

/* 
    PHOTOGRID SHENANIGANS 
*/
.photogrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 1vw;
  background-color: white;
  margin-right: 23.9vw;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Courier New', Courier, monospace;
}

.photogrid img {
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 2px;
}

.photogrid > div a:hover img {
  opacity: 0.8;
}

.photogrid > div > figure {
  max-width: 100%;
  max-height: 100%;
  border: 1vw;
  border-color: black;
}

.photogrid > div > figure > figcaption {
  font-size: 0.9vw;
  text-align: center;
}

.photogrid > #photo1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.photogrid > #photo2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.photogrid > #photo3 {
  grid-row: 1/2;
  grid-column: 3/4;
}
/*
    SIDEBAR SHENANIGANS
    see html for embedded sidebar shenanigans
*/
body aside {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 0.9vw;
    right: 10%;
    text-align: center;
    width: 12vw;
    margin-right: 1vw;
    margin-left: 1vw;
}
body aside h1 {
    font-size: 1.2vw;
}

#content > aside .heading1 {
    font-size: 1.25vw;
    font-weight: bold;
}

a.sidelinkbutton, a:visited.sidelinkbutton, a:active.sidelinkbutton {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    padding: 0.5vw;
    font-size: 0.6vw;
    color: white;
    line-height: 2vw;
}

a:hover.sidelinkbutton {
    background-color: white;
    color: black;
}

/*
    Table Styling
*/
/* M6LO7 Demonstrate how to format a table with CSS */

#STtoDmg, #STtoDmg th, #STtoDmg td {
    border: 1px solid black;
    border-collapse: collapse;
}

#STtoDmg th {
    color: white;
    background-color: black;
}

/* 
    Mobile Styling
*/
/* M5LO3 Use media queries to format a page differently for phones vs. PCs. */
@media screen and (max-width: 600px) {
    article {
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        background-color: white;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    
    article > .heading1 {
        font-size: 5vw;
        font-weight: bold;
        margin-top: 0;
    }
    
    article > dl > dt > a, article > dl > dt > a:visited, article > dl > dt > a:active {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    article > dl > dt > a:hover {
        color: #565656;
    }
    
    article p {
        margin-right: 0vw;
        font-size: 3.5vw;
    }
    
    footer {
        visibility: hidden;
    }

    aside {
        visibility: hidden;
        display: none;
    }
    
    .subheading {
        font-size: 4vw;
        font-style: italic;
        color: #565656;
        margin-top: -1vw;
        margin-left: 1vw;
    }

    .titleheader {
        background-color: white;
        margin: 1vw;
        max-width: 100vw;
        overflow: auto;
    }
    
    #titletext {
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Courier New', Courier, monospace;
        font-size: 5vw;
        margin-left: 2vw;
        font-weight: bold;
        letter-spacing: 1.5vw;
        word-spacing: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    
    #titletext br {
        height: 0px;
    }
    
    .titleimage {
        float: right;
        margin-left: 0;
        max-width: 20vw;
        max-height: 20vw;
    }

    .photogrid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 1vw;
        background-color: white;
        margin-right: 1vw;
        padding-right: 1vw;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Courier New', Courier, monospace;
      }

    .photogrid > div > figure {
        max-width: 100%;
        max-height: 100%;
        border: 0.5vw;
        border-color: black;
        margin: 3vw;
    }
    
    .photogrid > div > figure > figcaption {
        visibility: hidden;
    }

    nav .submenuTitle {
        visibility: visible;
    }

    nav .submenuTitle {
        display: block;
    }

    nav div ul {
        display: none;
    }
    nav {
        margin-top: 2vh;
    }
    nav .submenuTitle:hover ul{
        display: block;
    }

    nav div {
        text-decoration: none;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
        color: white;
    }

    nav ul li a, nav ul li a:visited, nav ul li a:active {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
/*
    M5LO4 Use CSS for pull-down menus (or collapsible/expandable areas)
    Above is modifying the nav bar to be a pull-down in mobile layout
*/
  }