@charset "utf-8";

/*
    Name: Joshua Sparks
    Date: 4/21/2021
    Course: CIS 155 18193
    Instructor: Linda Epps
    Assignment: Project V1
    Notes: CSS stylesheet for the project, hopefully the only one.
*/

/*
    TITLE PROPERTIES
*/

.titleheader {
    background-color: white;
    margin: 1vw;
    max-width: 90%;
    overflow: auto;
}
/*
    M2LO12 Demonstrate how CSS can change presentation of page elements (CSS, these are styles that impact page elements rather than impacting text on the page)
    margin above moves the header element away from other sides of the screen by 1 vw unit, creating a nice border around it
*/

/*
    M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors)
    class selector above
*/
/*
    M2LO15 Apply colors using CSS (CSS, see 2-5 Working with Color in CSS)
    background color above
*/

#titletext {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;

    /*
        M2LO14 Demonstrate and explain the use of progressive enhancement in CSS (CSS, see 2-6 Employing Progressive Enhancement)
        above, two fonts are called, the first will be used if the last is not supported by the browser (tested on firefox mobile, courier new is not displayed)
    */

    font-size: 3vw;
    margin-left: 8%;
    font-weight: bold;
    letter-spacing: 2vw;
    word-spacing: 1vw;
}

/*
    M2LO13 Demonstrate how CSS can change presentation of textual elements (CSS, these are styles that impact text that is rendered on the page)
    letter spacing, word spacing, font weight, etc
*/

/*
    M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors)
    id selector above
*/

.titleimage {
    float: right;
    margin-left: 5%;
    max-width: 15vw;
    max-height: 15%;
}

/*
    NAV BAR
*/

.navbar {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

/*
    M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook)
    above is a descendant selector
*/

nav ul > li {
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
}

/*
    M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook)
    above is a child selector
*/

nav ul li a, nav ul li a:visited, nav ul li a:active {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

nav ul li:first-child a{
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

/*
    M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, show one pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements)
    pseudo-class above
*/

nav ul li a:hover {
    background-color: white;
    color: black;
}

/*
    GENERAL PROPERTIES
*/

article {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: white;
    margin-left: 1vw;
    margin-right: 23.9vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

article > .heading1::first-letter {
    font-size: 1.2vw;
}

/*
    M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, show one pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements)
    pseudo-element above
*/

article > .heading1 {
    font-size: 1vw;
    font-weight: bold;
}

article > dl > dt > a, article > dl > dt > a:visited, article > dl > dt > a:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
article > dl > dt > a:hover {
    color: #565656;
}

/* 
    M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, once where precedence is applied and once where inheritance is applied; see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance)
    inheritance displayed above - text rendered from children of the article element will display in arial or courier new unless otherwise specified.
*/

.bigsymbol {
    font-size: 2vw;
    font-weight: bolder;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 1vw;
    padding-left: 1vw;
}

.subheading {
    font-size: 0.9vw;
    font-style: italic;
    color: #565656;
    margin-top: -1vw;
    margin-left: 1vw;
}

/*
    SIDEBAR SHENANIGANS
    see html for embedded sidebar shenanigans
*/

aside .heading1 {
    font-size: 1.25vw;
    font-weight: bold;
}

a.sidelinkbutton, a:visited.sidelinkbutton, a:active.sidelinkbutton {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    padding: 0.5vw;
    font-size: 0.6vw;
    color: white;
    line-height: 2vw;
}

a:hover.sidelinkbutton {
    background-color: white;
    color: black;
}

/*
    M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, once where precedence is applied and once where inheritance is applied; see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance)
    Above, the a:hover.sidelinkbutton is more specific than the more broad a.sidelinkbutton selector, therefore takes precedence over it and displays when conditions are met.
*/
/*
    M2LO7 Demonstrate a CSS attribute selector other than class or id (CSS, specify 1 time, see 2-9b Attribute selectors)
    elem.class selector above
*/